body {
  background-image: url('whitee.gif');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
.ss{
position:fixed;
width:100%;
background:crimson;
font-family:'Ubuntu',sans-serif;
transition:all 0.3s ease;
z-index:999;

}
.ss .max-width{
display:flex;
align-items:center;
padding:20;
justify-content:space-between;
}
.max-width{
max-width:1300;
padding: 0 80px;
margin:auto;
}
.ss .sa a{
color:#fff;
font-size:35px;
font-weight:600;
}
.ss .main li{
list-style:none;
display:inline-block;
}
.ss .main li a{
color:#fff;
font size:50px;
font-weight:500;
margin-left:25px;
}
li{
font-size:25px;
}
img{
float:right;
padding-top:100px;
padding-right:50px;
}

*
{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'poppins',sans-serif;
}
h1{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
position:relative;
font-size:5vw;
-webkit-text-stroke:0.3vw crimson;
text-transform:uppercase;
padding:5px;
}
h2{
font-size:50px;
text-align:center;
background-color:lightblue;
padding:40px 40px 40px 40px;
justify-content:center;
}
.gallery{
float:left;
padding-left:100px;
border-radius:10px 10px 10px 10px;
}
.name{
font-size:20px;
padding-left:20px;
}
*
{
margin:0;
padding:0;
box-sizing:border-box;
}
pre{
color:red;
background:white;
}
html{
color:black;
font-family:'poppins',sans-serif;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color:black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.container {
  padding: 10px 40px;
  position: relative;
  background-color: white;
  width: 50%;
}
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: crimson;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.right::after {
  left: -16px;
}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid yellow;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent pink;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid yellow;
  border-width: 10px 10px 10px 0;
  border-color: transparent pink transparent transparent;
}
.content {
  padding: 10px 20px;
  background-color: pink;
  position: relative;
  border-radius: 6px;
}
h5{
font-size:30px;
text-shadow: 2px 2px 5px red;
}
.box{

top:50%;
left:50%;
box-sizing:border-box;
border-radius:50px;
}

.box .imgbx{
width:150px;
flex:0 0 150px;
margin:20px;
}
.box .imgbx .fit{
max-width:250%;

margin:20px;

}
.fit{
padding-top:0%;
width=50;
height=20;
float:left;
}
.box .theory{
padding-left:20px;
padding-bottom:20px;

}
.box .theory h7{
margin:0px;
padding-left:0px;
font-size:50px;
color:crimson;

}
.box .theory h8{
margin:0px;
padding-left:0px;
font-size:30px;
color:black;
}
*
{
list-style:none;
}
.skills{
width:500px;
margin:60px auto;
color:black;
}
.skills li{
margin:20px 0;
}
.bar{
background:pink;
display:block;
height:20px;
border:1px solid rgpa(0.3,0,0,0.3);
border-radius:30px;
overflow:hidden;
box-shadow:0 0 10px red;
}
.bar span{
height:20px;
float:left;
background:red;
}
.html{
width:90%;
animation:html 2s;
}
.css{
width:50%;
animation:css 2s;
}
.c{
width:80%;
animation:c 2s;
}
.excel{
width:70%;
animation:excel 2s;
}
@keyframes html{
0%{
width:0%;
}
100%{
width:90%;
}
}
@keyframes excel{
0%{
width:0%;
}
100%{
width:70%;
}
}
@keyframes c{
0%{
width:0%;
}
100%{
width:80%;
}
}
@keyframes css{
0%{
width:0%;
}
100%{
width:50%;
}
}
footer{
background:lightgreen;
height:auto;
width:100vw;
font-family:"Open Sans";
padding-top:40px;
color:white;
}
.footer-msg{
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
text-align:center;
}
.footer-msg h10{
font-size:40px;
font-weight:400;
}
.footer-msg p{
max-width:500px;
margin:10px auto;
line-height:28px;
font-size:24px;
}
.socials{
list-style:none;
}
.footer-bottom{
width:100vw;
padding:20px 0;
text-align:center;
}
.footer-bottom p{
font-size:30px;
word-spacing:2px;
